.one_ul a:nth-of-type(3) li{
	border-bottom: 2px solid #FF6148;
}
.zhong_2 {
	width: 108px;
	height: 226px;
	background: url(../img/right_1_03.png);
	float: right;
	    position: fixed;
    top: 40px;
    right: 44px;
}

.zhong_2 a:nth-child(1) {
	display: inline-block;
	width: 65px;
	height: 30px;
	margin-top: 9px;
	margin-left: 14px;
}

.zhong_2 a:nth-child(2) {
	display: inline-block;
	width: 17px;
	height: 25px;
	margin-top: 16px;
	margin-left: 22px;
}

.top_end{
	width: 100%;
	min-width: 1300px;
	height: 180px;
	position: relative;
	background: #FE6546;
}
.top_end_1{
	width: 1000px;
	height: 50px;
	position: absolute;
	left: 50%;
	margin-left: -500px;
	bottom: 0;
	border-bottom: 1px solid #E0E0E0;
	background: white;
}
.top_end_1 p:nth-child(1){
	width: 5px;
	height: 20px;
	margin-left: 24px;
	float: left;
	margin-top: 14px;
	background: #FE6546;
}
.top_end_1 p:nth-child(2){
	width: 56px;
	height: 26px;
	font-weight: bold;
	float: left;
		margin-left: 13px;
	margin-top: 14px;
	font-size: 13px;
	line-height: 20px;
}
.top_end > p{
	width: 114px;
	height: 40px;
	color: white;
	font-size: 25px;
	position: absolute;
	left: 50%;
	margin-left: -57px;
	top: 45px;
}
.center_2{
	width: 1000px;
	height: 935px;
	position: relative;
	margin: auto;
}
.center_2 ul{
	width: 1000px;
	height: 750px;
	
}
.center_2 ul li{
	width: 920px;
	height: 124px;
	margin-top: 30px;
	margin-left: 40px;
	border: 1px solid #EEEEF0;
}
.li_div_1{
	width: 520px;
	height: 110px;
	float: left;
}
.li_div_2{
	width: 90px;
	height: 40px;
	float: right;
	margin-right: 15px;
	margin-top: 35px;
}
.li_div_1 p:nth-child(1){
	width: 100px;
	height: 100px;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	background: url(../img/1_03.png) no-repeat;
	background-size: cover;
}
.li_div_1 p:nth-child(2){
	float: left;
	font-size: 13px;
	margin-left: 50px;
	margin-top: 45px;
	font-weight: bold;
}
.li_div_1 p:nth-child(3){
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin-left: 150px;
	margin-top: 45px;
	color: #FE6546;
}
.li_div_2 p{
	width: 23px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	float: left;
	margin-left: 5px;
	font-weight: bold;
	font-size: 13px;
	background: #EDEEF2;
}
.li_div_3{
	width: 520px;
	height: 110px;
	float: left;
}
.li_div_4{
	width: 90px;
	height: 40px;
	float: right;
	margin-right: 15px;
	margin-top: 35px;
}
.li_div_3 p:nth-child(1){
	width: 100px;
	height: 100px;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	background: url(../img/1_05.png) no-repeat;
	background-size: cover;
}
.li_div_3 p:nth-child(2){
	float: left;
	font-size: 13px;
	margin-left: 50px;
	margin-top: 45px;
	font-weight: bold;
}
.li_div_3 p:nth-child(3){
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin-left: 135px;
	margin-top: 45px;
	color: #FE6546;
}
.li_div_4 p{
	width: 23px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	float: left;
	margin-left: 5px;
	font-weight: bold;
	font-size: 13px;
	background: #EDEEF2;
}
.li_div_5{
	width: 520px;
	height: 110px;
	float: left;
}
.li_div_6{
	width: 90px;
	height: 40px;
	float: right;
	margin-right: 15px;
	margin-top: 35px;
}
.li_div_5 p:nth-child(1){
	width: 100px;
	height: 100px;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	background: url(../img/1_07.png) no-repeat;
	background-size: cover;
}
.li_div_5 p:nth-child(2){
	float: left;
	font-size: 13px;
	margin-left: 50px;
	margin-top: 45px;
	font-weight: bold;
}
.li_div_5 p:nth-child(3){
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin-left: 170px;
	margin-top: 45px;
	color: #FE6546;
}
.li_div_6 p{
	width: 23px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	float: left;
	margin-left: 5px;
	font-weight: bold;
	font-size: 13px;
	background: #EDEEF2;
}
.li_div_7{
	width: 520px;
	height: 110px;
	float: left;
}
.li_div_8{
	width: 90px;
	height: 40px;
	float: right;
	margin-right: 15px;
	margin-top: 35px;
}
.li_div_7 p:nth-child(1){
	width: 100px;
	height: 100px;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	background: url(../img/1_09.png) no-repeat;
	background-size: cover;
}
.li_div_7 p:nth-child(2){
	float: left;
	font-size: 13px;
	margin-left: 50px;
	margin-top: 45px;
	font-weight: bold;
}
.li_div_7 p:nth-child(3){
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin-left: 135px;
	margin-top: 45px;
	color: #FE6546;
}
.li_div_8 p{
	width: 23px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	float: left;
	margin-left: 5px;
	font-weight: bold;
	font-size: 13px;
	background: #EDEEF2;
}
.li_div_9{
	width: 520px;
	height: 110px;
	float: left;
}
.li_div_10{
	width: 90px;
	height: 40px;
	float: right;
	margin-right: 15px;
	margin-top: 35px;
}
.li_div_9 p:nth-child(1){
	width: 100px;
	height: 100px;
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	background: url(../img/1_11.jpg) no-repeat;
	background-size: cover;
}
.li_div_9 p:nth-child(2){
	float: left;
	font-size: 13px;
	margin-left: 50px;
	margin-top: 45px;
	font-weight: bold;
}
.li_div_9 p:nth-child(3){
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin-left: 135px;
	margin-top: 45px;
	color: #FE6546;
}
.li_div_10 p{
	width: 23px;
	height: 23px;
	text-align: center;
	line-height: 23px;
	float: left;
	margin-left: 5px;
	font-weight: bold;
	font-size: 13px;
	background: #EDEEF2;
}
.center_end_1{
	width: 320px;
	height: 75px;
		position: absolute;
	right: 0;
	bottom: 30px;
}
.center_end_1 p{
	float: left;
	font-size: 14px;
	margin-top: 6px;
}
.center_end_1 p:nth-of-type(2){
	font-size: 14px;
	color: #FE6546;
	margin-left: 5px;
}.center_end_1 p:nth-of-type(3){
	margin-left: 5px;
}
.center_end_1 p:nth-of-type(4){
	font-size: 25px;
	color: #FE6546;
	margin-top: 0;
}
.center_end_1 p:nth-of-type(5){
	width: 100px;
	height: 33px;
	background: #FE6546;
	text-align: center;
	line-height: 33px;
		color: white;
	font-weight: bold;
	margin-top: 0;
	margin-left: 30px;
}
.center_end_2{
	width: 110px;
	height: 32px;
	position: absolute;
	    right: 110px;
    bottom: 105px;
	background: url(../img/manjian.png) no-repeat;
}
